cp_to_pi.sh
build/
build_*/
.vs/
recovery/
x64/
*-backups/
Gerber/
*auto_saved*
*_autosave-*
*-bak
dist/
*.pdb
*__emit.zip
*.csv
*.xml
*.build.txt
*.dll
sdkconfig.old
*_User.toml
fp-info-cache
*.user
History/
__Previews/
*.LOG
*.FIT
sim/ride.dat
activities/